body{
    background-color: #2b351b;
    margin: 1.5% 25%;
}


#titulo{
    text-align: center;
    border: 1px solid #9dff00;
}


#columnas{
    display: flex;
    justify-content: space-between;
}
#izquierda{
    width: 65%;
}
#derecha{
    width: 35%;
}


